<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :video_name %>
  </div>

  <div class="field">
    <%= form.label :content_source %>
    <%= form.text_field :content_source, id: :video_content_source %>
  </div>

  <div class="field">
    <%= form.label :content_type %>
    <%= form.text_field :content_type, id: :video_content_type %>
  </div>

  <div class="field">
    <%= form.label :publish_date %>
    <%= form.date_select :publish_date, id: :video_publish_date %>
  </div>

  <div class="field">
    <%= form.label :production_company_id %>
    <%= form.text_field :production_company_id, id: :video_production_company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
